ul {
    padding: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  img {
    display: block;
    width: 80px;
    height: auto;
    border: 0.5px solid grey;
  }
  
  h1 {
    font-size: 28px;
    color: #212121;
    margin: 0;
    padding: 0;
  }
  
  p {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 30px;
  }
  
  .big img {
    display: block;
    width: 150px;
    height: auto;
    border: 0.5px solid grey;
  }
  
  .big h1 {
    font-size: 48px;
  }

  ul {
    padding: 0;
    list-style: none;
  }
  
  li {
    margin-bottom: 20px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  img {
    display: block;
    width: 80px;
    height: auto;
    border: 0.5px solid grey;
  }
  
  h1 {
    font-size: 28px;
    color: #212121;
    margin: 0;
    padding: 0;
  }
  
  p {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
    font-size: 30px;
  }
  
  .big img {
    display: block;
    width: 150px;
    height: auto;
    border: 0.5px solid grey;
  }
  
  .big h1 {
    font-size: 48px;
  }